body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #CAF0F8;
}

p {
  line-height: 2;
}

h1 {
  line-height: 2;
  font-size: 90px;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #406882 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.profile-pic {
  width: 200px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container {
  background-color: #CAF0F8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #CAF0F8;
  position: relative;
  margin: 100px 0;
}

.bottom-container {
  background-color: #6998AB;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 550px;
}

.choco-donut {
  width: 35%;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.guitar-pic {
  float: left;
  width: 15%;
  margin-right: 30px;
}

.twitch-pic {
  float: right;
  width: 15%;
  margin-left: 30px;
}

.footer-link {
  color: #1A374D;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}